<div style="display: flex; flex-direction: column;">
  <p *ngIf="todos.length === 0">
    Loading ...
  </p>

  <ul *ngIf="todos.length > 0">
    <li *ngFor="let todo of todos; let i = index; let last = last; let first = first; let odd = odd; let even = even;">
      <a href="#">
        {{ todo }}
        <span *ngIf="first">This is the first element</span>
        <span *ngIf="i === 1">This is the second element</span>
        <span *ngIf="last">This is the last element</span>
      </a>
    </li>
  </ul>

  <div>
    <p>Add a new todo: </p>
    <input
      [placeholder]="'What you want to do ?'"
      [value]="'initial value'"
      (keyup)="onKeyup($event)"
    />
  </div>

  <div>
    <p>Add a new todo 2: </p>
    <input [placeholder]="'What you want to do ?'" [(ngModel)]="name" />
  </div>
</div>
